<div class="catalogue-details-container" *ngIf="catalogue != undefined">
    <div class="catalogue-details">
        <h2 class="catalogue-name">{{catalogue.name}}</h2>
        <p class="catalogue-user-name" *ngIf="user != undefined">Created by: {{user.username}}</p>
    </div>
    <app-plant-list [plants]="plants" [onViewDo]="onViewingPlant.bind(this)"></app-plant-list>
    <div *ngIf="selectedPlant != undefined" [hidden]="!viewingPlant">
        <img [src]="selectedPlant!.photoUrl"/>
        <p>{{selectedPlant!.commonName}}</p>
        <i>{{(selectedPlant!.genus | titlecase) + " " + (selectedPlant!.species | lowercase)}}</i>
        <p>{{selectedPlant!.maxHeight_metres}}</p>
    </div>
</div>