<div class="card-container">
    <div class="vertical-split-card">
        <div class="card-left-side">
            <img class="card-image" src="https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
        </div>
        <div class="card-right-side">
            <div class="form-container">
                <app-add-user></app-add-user>
                <a class="form-link" routerLink="/sign-in">Already have an account? Sign in here</a>
            </div>
        </div>
    </div>
</div>