<form [formGroup]="authenticationForm" (ngSubmit)="submit()">
    <app-form-error-message *ngIf="validCredentials === false" message="Incorrect username or password"></app-form-error-message>
    <div>
        <label for="username">Username: </label>
        <input id="username" type="text" formControlName="username" />
    </div>
    <div>
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" />
    </div>
    <button type="submit">Sign in</button>
</form>