<form class="form" [formGroup]="editCatalogueFormGroup" (ngSubmit)="onSubmit()">
    <div class="form-field">
        <label class="form-label" for="name">Name</label>
        <input class="form-text-input" id="name" formControlName="name"/>
    </div>
    <div class="form-field">
        <label class="form-label">Select privacy</label>
        <select class="form-dropdown-input" formControlName="privacyOption">
            <option *ngFor="let privacyOption of privacyOptions" [ngValue]="privacyOption">
                {{privacyOption | titlecase}}
            </option>
        </select>
    </div>
    <button class="button form-submit-button" type="submit">{{buttonText}}</button>
</form>