<div *ngIf="plants.length > 0">
    <h2>
        Plants
    </h2>
    <ul>
        <li *ngFor="let plant of plants">
            <h3 *ngIf="plant.commonName != null">
                {{plant.commonName}}
            </h3>
            <i>{{(plant.genus | titlecase) + " " + (plant.species | lowercase)}}</i>
            <div>
                <span>Maximum Height: </span><span>{{(plant.maxHeight_metres | number : '1.1-1') + "m"}}</span>
            </div>
            <img src="{{plant.photoUrl}}" />
            <a routerLink="/plant/{{plant.id}}">Details</a>
        </li>
    </ul>
</div>
<div *ngIf="plants.length == 0">
    <p>Plants not found</p>
</div>