<div class="catalogue-list-container" *ngIf="catalogues != undefined && catalogues.length > 0">
    <ul class="catalogue-list">
        <li class="catalogue" *ngFor="let catalogue of catalogues">
            <h2 class="catalogue-name">{{catalogue.name}}</h2>
            <button class="button view-catalogue-details-button" *ngIf="onViewDetailsDo != undefined" (click)="onViewDetailsDo(catalogue.id)">View catalogue</button>
        </li>
    </ul>
</div>
<div *ngIf="catalogues == undefined || catalogues.length == 0">
    <app-data-error-message message="Roses are red, violets are blue, there are no catalogues here for you..."></app-data-error-message>
</div>