<form class="form" [formGroup]="editPlantFormGroup" (ngSubmit)="submit()">
    <div class="form-field">
        <label for="commonName">Common name: </label>
        <input formControlName="commonName" id="commonName" />
    </div>
    <div class="form-field">
        <label for="genus">Genus: </label>
        <input formControlName="genus" id="genus" />
    </div>
    <div class="form-field">
        <label for="species">Species: </label>
        <input formControlName="species" id="species" />
    </div>
    <div class="form-field">
        <label for="maxHeight_metres">Max height (metres): </label>
        <input formControlName="maxHeight_metres" id="maxHeight_metres" />
    </div>
    <div class="form-field">
        <label for="photoUrl">Photo url: </label>
        <input formControlName="photoUrl" id="photoUrl" />
    </div>
    <button class="button form-submit-button" type="submit">Save</button>
    <button class="button form-submit-button delete-plant-button" type="button" (click)="deletePlant()">Delete</button>
</form>