<div class="page-not-found-container">
    <div class="page-not-found-image-container">
        <img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" alt="" class="page-not-found-image">
    </div>
    <div class="page-not-found-content">
        <div>
            <p class="page-not-found-title">You cannot access this page</p>
            <span>You may be in the wrong account; </span>&nbsp;<a class="page-not-found-link" routerLink="/sign-in">Try signing in here</a>
        </div>
    </div>
</div>