.page-not-found-container {
    position: relative;
    max-height: calc(100vh - 70px);
    overflow: hidden;
}
.page-not-found-image-container {
    display: flex;
}
.page-not-found-image {
    flex: 1;
    height: 100%;
}
.page-not-found-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.page-not-found-title {
    font-size: 50px;
    font-weight: 700;
    max-width: 700px;
}
.page-not-found-link {
    color: var(--white);
}