<div class="container user-dashboard-container">
    <div *ngIf="userId != undefined" class="thin-form-container title-content-container">
        <h2 class="title">Your Details</h2>
        <app-edit-user [userId]="userId"></app-edit-user>
    </div>
    <div class="user-dashboard-top title-content-container">
        <h2 class="title">Your catalogues</h2>
        <button class="button add-catalogue-button" (click)="displayAddCatalogueForm()">Add Catalogue</button>
    </div>
    <app-catalogue-list #catalogueListComponent [catalogues]="catalogues" [onViewDetailsDo]="onViewingCatalogueDetails.bind(this)"></app-catalogue-list>
    <div *ngIf="addingCatalogue" class="pop-up-container full-screen-pop-up-container">
        <div class="pop-up full-screen-pop-up">
            <div class="form-pop-up">
                <button class="pop-up-close-button" (click)="hideAddCatalogue()"></button>
                <h2 class="title">Add Catalogue</h2>
                <app-add-catalogue #addCatalogueComponent [userId]="userId" [onSubmitDo]="onAddingCatalogue.bind(this)"></app-add-catalogue>
            </div>
        </div>
    </div>
</div>