.user-dashboard-container {
    padding: 15px;
    display: grid;
    gap: 15px;
}
.user-dashboard-top {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 40px;
    align-items: center;
}
.add-catalogue-button {
    width: 150px;
    height: 100%;
    background-color: var(--primary);
    color: var(--white);
}
.add-catalogue-button:hover {
    background-color: #d8d7e0;
}