<ul *ngIf="!signedIn">
    <li>
        <a class="navigation-link" routerLink="/sign-in">Sign in</a>
    </li>
</ul>
<ul *ngIf="signedIn">
    <li>
        <div class="dropdown">
            <button class="user-profile-container dropdown-trigger">
                <p class="user-profile-name dropdown-label">{{user!.username[0]}}</p>
            </button>
            <div class="dropdown-content">
                <ul class="dropdown-link-list">
                    <li class="dropdown-item">
                        <a class="dropdown-item-content" routerLink="/user/{{user!.id}}">User dashboard</a>
                    </li>
                    <li class="dropdown-item">
                        <button class="dropdown-item-content logout-button" (click)="logout()">Log out</button>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>