<div class="sign-in-card-container">
    <div class="vertical-split-sign-in-card">
        <div class="sign-in-card-left-side">
            <img class="sign-in-image" src="https://images.unsplash.com/photo-1471696035578-3d8c78d99684?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80">
        </div>
        <div class="sign-in-card-right-side">
            <div class="sign-in-form-container">
                <app-authenticate-user></app-authenticate-user>
                <a class="form-link" routerLink="/register">Do not have an account yet? Register here</a>
            </div>
        </div>
    </div>
</div>